*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
}

.header img{
    width: 70px;
}


.header{
    align-items: center;
    display: flex;
    gap: 280px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-decoration: none;
    padding-right: 90px;
    padding-left: 90px;
}

.dropdownmain{
    border: 0px;
    width: 140px;
    font-size: 1.2em;
    color: #000e54;
    font-weight: 600;
}

.hero h1 b{
    color: #000e54;
    font-size: 2.8em;
    font-weight: 600;
}

.hero p{
    color: #666666;
    font-size: 1.6em;
    font-weight: 540;
}

.hero button{
    font-size: 1.2em;
    font-weight: 600;
    width: 130px;
    height: 50px;
    padding: 10px;
    color: white;
    background-color: #00208A;
    border: none;
    border-radius: 10px;
}

.hero{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 90px;
    padding-left: 90px;
    background-color: #fffef5;
    gap: 40px;
}

.hero img{
    width: 510px;
}

.Section2 h1{
    font-size: 4em;
    color: #000e54;
    padding-left: 410px;
    padding-right: 400px;
    padding-top: 50px;
    padding-bottom: 40px;

}

.sectdiv sect2{
    font-size: 4em;
}

.section3{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 90px;
    padding-right: 90px;
    gap: 60px;
}

.section3 img{
    width: 320px;
    filter: grayscale(100%);
}

.section3 h1{
    font-size: 1.8em;
    color: #000e54;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section3 p{
    font-size: 1.2em;
    color: #666666c2;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.section3 a{
    font-size: 1.4em;
    font-weight: 600;
    color: #000e54;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.sect4i p21{
    font-size: 16px;
    font-weight: 600;
    padding-top: 100px;
    color: black;
}

.sect4i p{
    font-size: 1.4em;
    line-height: 25px;
    font-weight: 500;
    padding-top: 30px;
    color: #666666;
}

.sect4i p span{
    font-weight: 600;
}

.sect4i hr{
    width: 310px;
    margin-top: 4px;
    color: #00208A;
}

.section4{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 100px;
}

.section5{
    align-items: center;
    justify-content: center;
    padding-left: 390px;
    padding-top: 120px;
}

.section5 h{
    font-size: 4em;
    font-weight: 600;
    color: #000e54;
}

.section5 p{
    font-size: 1.5em;
    font-weight: 500;
    color: #666666;
}

.section5 a{
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: #00208A;
}

.box{
    padding: 60px 50px;
    background-color: #88c4dd48;
    margin-right: 995px;
    border-radius: 20px;
    text-align: left;
    margin-top: 50px;
    width: 520px;
}

.box h1{
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box img{
    width: 410px;
    border-radius: 20px;
}

.box p{
    font-size: 1.4em;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
    color: black;
}

.box a{
    font-size: 1.4em;
    color: #00208A;
}

.box2{
    padding: 60px 50px;
    background-color: #e0d5c0;
    margin-right: 995px;
    border-radius: 20px;
    text-align: left;
    margin-top: 30px;
    width: 520px;
}

.box2 h1{
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box2 img{
    width: 410px;
    border-radius: 20px;
}

.box2 p{
    font-size: 1.4em;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
    color: black;
}

.box2 a{
    font-size: 1.4em;
    color: #00208A;
}

.box3{
    padding: 60px 50px;
    background-color: #eeefbd;
    margin-right: 390px;
    margin-left: 980px;
    margin-top: -1680px;
    border-radius: 20px;
    text-align: left;
    position: relative;
    border: 1px solid;
    width: 520px;
}

.box3 h1{
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box3 img{
    width: 410px;
    border-radius: 20px;
}

.box3 p{
    font-size: 1.4em;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.box3 a{
    font-size: 1.4em;
    color: #00208A;
    font-weight: 600;
}

.box4{
    padding: 60px 50px;
    background-color: #dfd5e8;
    margin-right: 390px;
    margin-left: 980px;
    margin-top: 30px;
    border-radius: 20px;
    text-align: left;
    position: relative;
    border: 1px solid;
    width: 520px;
}

.box4 h1{
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box4 img{
    width: 410px;
    border-radius: 20px;
}

.box4 p{
    font-size: 1.4em;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.box4 a{
    font-size: 1.4em;
    color: #00208A;
    font-weight: 600;
}

.socials{
    font-size: 20px;
    color: white;
}

.fb{
    background-color: #00208A;
    width: 20px;
}

.section6{
    align-items: center;
    justify-content: center;
    padding-left: 390px;
    padding-right: 900px;
    margin-top: 180px;
    margin-right: 50px;
}

.section6 h{
    font-size: 28px;
    font-weight: 600;
}

.section7{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: flex;
    gap: 120px;
    place-content: center;
    margin-top: 50px;
}

.section7 img{
    width: 150px;
}

.section8{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: flex;
    gap: 120px;
    place-content: center;
    margin-top: 50px;
}

.section8{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: flex;
    gap: 120px;
    place-content: center;
    margin-top: 50px;
}

.section8 img{
    width: 150px;
}

.section9{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: flex;
    gap: 120px;
    place-content: center;
    margin-top: 50px;
}

.section9 img{
    width: 150px;
}

.section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 280px;
}

.section10{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    padding: 80px 430px;
    background-image: url(DSC_9054-scaled\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}

.section101 video{
    width: 410px;
    height: 230px;
    border-radius: 40px;
}

.section102 h1{
    margin-bottom: 10px;
    font-size: 48px;
    color: white;
}

.section102 p{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    color: white;
}

.section102 button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #00208A;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.section11{
    align-items: center;
    justify-content: center;
    padding-left: 390px;
    padding-right: 1000px;
    margin-top: 80px;
    margin-left: 100px;
}

.section11 h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.section11 p{
    font-size: 14px;
    font-weight: 600;
}